<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <system.diagnostics>
      <trace autoflush="true"/>
      
      <sources>
        <source name="rskb.application">
          <listeners><remove name="Default"/><add name="textfileListener"/></listeners>
        </source>
        <source name="rskb.boardprovider">
          <listeners>
            <remove name="Default"/>
            <add name="textfileListener"/>
          </listeners>
        </source>      
      </sources>

      <sharedListeners>
        <add name="textfileListener"
            type="System.Diagnostics.TextWriterTraceListener" initializeData="rskb.application.log" />
      </sharedListeners>
    </system.diagnostics>
</configuration>